<html>
    <head>
        <title>
            About
        </title>
    </head>
    <body>
        <h1 style="text-align:center">About</h1>
        <p>It is a password generator project. 
            Here you can customize the length and add the below to the password:
            <ul>
                <li>Upper Case Characters</li>
                <li>Lower Case Characters</li>
                <li>Special Characters</li> 
                <li>Numbers</li>
            </ul>
        </p>
    </body>
</html>